.input {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 30px;
  position: relative;
  .label {
    transition: all 0.2s ease;
    position: absolute;
    font-size: 14px;
    top: 17px;
    @media screen and (max-width:620px) {
        font-size: 12px;
    }
  }
  .label__focus {
    transform: translateY(-22px);
    font-size: 10px;
  }
  input {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    padding: 5px;
    padding-left: 0;
    &:focus {
      label {
        color: #fff;
      }
    }
  }
}
